{% extends 'base.html' %}

{% block title %}
Статья: {{ book.title }}
{% endblock title %}


{% block content %}
<div class="card">
    {% if book.image %}
    <img src="{{ book.image.url }}" class="card-img-top h-100" alt="...">
    {% else %}
    <div class="d-flex flex-column justify-content-center align-items-center h-100 mt-5 mb-5">
        No photo
    </div>
    {% endif %}
    <div class="d-flex">
        <div class="card-body">
            <p class="card-text">{{ book.title }}</p>
            <p class="card-text">{{ book.description }}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Название категории: {{ book.category }}
                </li>
                <li class="list-group-item">
                    Автор статьи: {{ book.author }}
                </li>
                <li class="list-group-item">
                    Количетво просмотров: {{ book.views }}
                </li>
            </ul>

            <p class="card-text mt-3"><small>Создано: {{ book.created_at }}</small></p>
        </div>

        {% if item.author == request.user or request.user.is_superuser %}
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'update' book.pk %}">Изменить</a></li>
                <li><a class="dropdown-item" href="{% url 'delete' book.pk %}">Удалить</a></li>
            </ul>
        </div>
        {% endif %}
    </div>

</div>


<div class="mt-4">
    {% if request.user.is_authenticated %}
    <form action="" class="mb-4" method="post">
        {% csrf_token %}

        {{ form }}

        <button class="btn btn-dark mt-2">Отправить</button>
    </form>
    {% else %}
    <p>Оставлять комментарии могут только избранные! <a href="{% url 'login' %}">Войти в аккаунт</a></p>
    {% endif %}

    {% for comment in comments %}
    <div class="card mb-3 ">
        <div class="card-header d-flex align-items-center">
            {{ comment.created_at  }}
            <div class="ms-auto">
                <a href="{% url 'edit_comment' comment.pk %}" class="text-warning fs-5 text-decoration-none">
                    <i class="bi bi-pencil"></i>
                </a>
                <a href="{% url 'del_comment' comment.pk %}" class="text-danger fs-5 text-decoration-none ms-1">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ comment.content }}</p>
                <footer class="blockquote-footer"><cite title="{{ comment.author }}">{{ comment.author }}</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    {% empty %}
    <h3>No comments. Be first :3</h3>
    {% endfor %}

</div>
{% endblock content %}